<mat-card *ngIf="!showRegister">
<form [formGroup]="form" (ngSubmit) = "processForm()">
    <mat-form-field>
      <mat-label>Username: </mat-label>
      <input type="text" placeholder="Username" matInput formControlName="username">
    </mat-form-field><br>
    <mat-form-field>
      <mat-label>Password:</mat-label>
      <input type="text" placeholder="Password" matInput formControlName="password" >
    </mat-form-field><br>
    <span>
    <div>
      <button type="submit" mat-raised-button="primary">Login</button>
      <button type="button" mat-raised-button="primary" (click)="registerButton()">Register</button>
    </div>
  </span>
    <mat-card-subtitle>{{isLogInFailed}}</mat-card-subtitle>
    <mat-card-subtitle>{{token?.token}}</mat-card-subtitle>
    </form>
</mat-card>
<mat-card *ngIf="showRegister">
  <form [formGroup]="form2" (ngSubmit) = "processRegister()">
      <mat-form-field>
        <mat-label>Username: </mat-label>
        <input type="text" placeholder="Username" matInput formControlName="username">
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Password:</mat-label>
        <input type="text" placeholder="Password" matInput formControlName="password" >
      </mat-form-field><br>
      <mat-form-field>
        <mat-label>Email:</mat-label>
        <input type="text" placeholder="email" matInput formControlName="email" >
      </mat-form-field><br>
      <div>
        <button type="submit" mat-raised-button="primary">Register</button>
      </div>
      <mat-card-subtitle>{{isLogInFailed}}</mat-card-subtitle>
      <mat-card-subtitle>{{token?.token}}</mat-card-subtitle>
      </form>
  </mat-card>
