<mat-card>
<form [formGroup]="form" (ngSubmit) = "processForm()">
    <mat-form-field>
      <mat-label>Username: </mat-label>
      <input type="text" placeholder="Username" matInput formControlName="username">
    </mat-form-field><br>
    <mat-form-field>
      <mat-label>Password:</mat-label>
      <input type="text" placeholder="Password" matInput formControlName="password" >
    </mat-form-field><br>
    <div>
      <button type="submit" mat-raised-button="primary">Login</button>
    </div>
    <mat-card-subtitle>{{isLogInFailed}}</mat-card-subtitle>
    <mat-card-subtitle>{{token?.token}}</mat-card-subtitle>
    </form>
</mat-card>
